{{define "sbdotsb/index"}}
<!DOCTYPE html>
<html lang="{{if .Chinese}}zh{{else}}en{{end}}">
<meta charset="utf-8">

<head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta content="{{if .Chinese}}到 {{.Panel.Name}} 购买优质域名。{{else}}Buy premium domain names on {{.Panel.NameEn}}{{end}}"
        name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.loli.net/ajax/libs/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.loli.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.loli.net/css?family=Saira+Semi+Condensed" rel="stylesheet">
    <script src="https://cdnjs.loli.net/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <style type="text/css">
        body {
            font-family: 'Saira Semi Condensed', sans-serif;
        }

        table a:not(.btn),
        .table a:not(.btn) {
            color: #FF0066;
            text-decoration: none;
        }

        table a:hover,
        .table a:hover {
            color: #FFFFFF;
            text-decoration: none;
            background: #CC3366;
        }

        a {
            color: #FF0066;
        }

        a:hover {
            color: #FFFFFF;
            text-decoration: none;
            background: #CC3366;
        }

        #contact .panel-body p span {
            padding: 20px;
            color: #FFFFFF;
        }

        footer a:last-of-type {
            color: gray;
        }
    </style>

    <link rel="apple-touch-icon" sizes="180x180" href="{{.Static}}/static/offical/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{.Static}}/static/offical/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{.Static}}/static/offical/icons/favicon-16x16.png">
    <link rel="manifest" href="{{.Static}}/static/offical/icons/site.webmanifest">
    <link rel="mask-icon" href="{{.Static}}/static/offical/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{.Static}}/static/offical/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{.Static}}/static/offical/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar"
                    data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <p class="navbar-brand"><img src="{{.Static}}/upload/logo/{{.Panel.ID}}-logo{{if not .Chinese}}_en{{end}}.png"
                        alt="{{if .Chinese}}{{.Panel.Name}}{{else}}{{.Panel.NameEn}}{{end}}" width="112" height="28"></p>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">{{if .Chinese}}首页{{else}}Home{{end}}</a>
                    </li>
                    {{range $cat := .Panel.Cats}}
                    <li>
                        <a href="#cat-{{$cat.ID}}">{{if $.Chinese}}{{$cat.Name}}{{else}}{{$cat.NameEn}}{{end}}</a>
                    </li>
                    {{end}}
                    <li>
                        <a href="#contact">{{if .Chinese}}联系{{else}}Contact{{end}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{if .Chinese}}一个好域名胜过一支营销团队{{else}}A good domain name is better than a marketing team.{{end}}
            </div>
            <div class="panel-body">
                <p>{{if .Chinese}}{{.Panel.Desc|nl2br}}{{else}}{{.Panel.DescEn|nl2br}}{{end}}</p>
            </div>
        </div>
        {{range $cat := .Panel.Cats}}
        <div class="panel panel-default" id="cat-{{$cat.ID}}">
            <div class="panel-heading">{{if $.Chinese}}{{$cat.Name}}{{else}}{{$cat.NameEn}}{{end}}</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="30%">{{if $.Chinese}}域名{{else}}Domain{{end}}</th>
                            <th width="30%">{{if $.Chinese}}价格{{else}}Pricing{{end}}</th>
                            <th width="40%">{{if $.Chinese}}简介{{else}}Description{{end}}</th>
                        </tr>
                    </thead>
                    <tbody class="domain_list_{{$cat.ID}}">
                        {{range $domain := $cat.Domains}}
                        <tr>
                            <td class='name'>{{$domain.Domain}}</td>
                            <td class='desc'><a href='//{{$.Panel.Domain}}/offer/{{$domain.Domain|toLower}}'>
                                    {{if $.Chinese}}获取报价{{else}}Make Offer{{end}}
                                </a></td>
                            <td type='price'>{{$domain.Desc}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        {{end}}
        <div class="panel panel-default" id="contact">
            <div class="panel-heading">
                {{if .Chinese}}联系{{else}}Contact{{end}}
            </div>
            <div class="panel-body">
                <p>{{if .Chinese}}如果您遇到任何问题，欢迎直接联系我们。{{else}}Feel free to contact us.{{end}}</p>
                <p>
                    <span><i class="glyphicon glyphicon-phone-alt"></i> {{.Panel.User.Phone}}</span>
                    <span>QQ: {{.Panel.User.QQ}}</span>
                </p>
                <p>
                    <span>WeChat: {{.Panel.User.Weixin}}</span>
                    <span><i class="glyphicon glyphicon-envelope"></i>
                        {{.Panel.User.Mail}}</span>
                </p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Copyright &#9400; 2018 <a href="//{{.Panel.Domain}}">
                    {{if .Chinese}}{{.Panel.Name}}{{else}}{{.Panel.NameEn}}{{end}}
                </a>. All rights reserved. Powered by <a href="{{.Static}}">日落米表托管</a> .
                {{if .Panel.Analysis}}
                {{if eq .Panel.AnalysisType "g"}}
                <script async src="https://www.googletagmanager.com/gtag/js?id={{.Panel.Analysis}}"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                    function gtag() { dataLayer.push(arguments); }
                    gtag('js', new Date());
                    gtag('config', '{{.Panel.Analysis}}');
                </script>
                {{else if eq .Panel.AnalysisType "c"}}
                <script type="text/javascript">
                    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cspan id='cnzz_stat_icon_{{.Panel.Analysis}}'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D{{.Panel.Analysis}}%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
                </script>
                {{end}}
                {{end}}
            </p>
        </div>
    </footer>
    <script src="https://cdnjs.loli.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>

</body>

</html>
{{end}}