{{define "longge/index"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.Title}}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{.Static}}/static/offical/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{.Static}}/static/offical/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{.Static}}/static/offical/icons/favicon-16x16.png">
    <link rel="manifest" href="{{.Static}}/static/offical/icons/site.webmanifest">
    <link rel="mask-icon" href="{{.Static}}/static/offical/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{.Static}}/static/offical/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{.Static}}/static/offical/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="{{.Static}}/static/longge/main.css" rel="stylesheet">
    <style>
        #fengexian {
            background: url({{.Static}}/static/longge/fengexian.png) no-repeat center;
            padding: 30px 12px 20px 0px;
        }
    </style>
</head>

<body>
    <div id="page">
        <div id="header">
            <div style="display:table-cell;vertical-align: middle">
                <p style="float:left;margin-left: 20px">
                    <img src="{{.Static}}/upload/logo/{{.Panel.ID}}-logo{{if not .Chinese}}_en{{end}}.png" alt="{{if .Chinese}}{{.Panel.Name}}{{else}}{{.Panel.NameEn}}{{end}}"
                        width="112">
                </p>
            </div>
            <h1><a href="/">{{.Title}}</a></h1>
            <div class="description">{{if .Chinese}}{{.Panel.Desc|nl2br}}{{else}}{{.Panel.DescEn|nl2br}}{{end}}</div>
            <div id="navbar">
                <ul id="top">
                    邮件 | E-mail:{{.Panel.User.Mail}}<br />
                    电话 | Phone:{{.Panel.User.Phone}}<br />
                    Tencent QQ:{{.Panel.User.QQ}}
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <hr />
        <div id="content">
            <div id="maincontent">
                <div id="link">
                    <div id="zy">
                        <font size="5">A good domain name is better than a marketing team.</font>
                        <div id="fengexian"></div>
                    </div>
                    <div class="linkpage">
                        <ul>
                            {{range $cat := .Panel.Cats}}
                            <li id="linkcat-{{$cat.ID}}" class="linkcat">
                                <h3>{{if $.Chinese}}{{$cat.Name}}{{else}}{{$cat.NameEn}}{{end}}</h3>
                                <ul class='xoxo blogroll'>
                                    {{range $domain := $cat.Domains}}
                                    <li><a href="//{{$.Panel.Domain}}/offer/{{$domain.Domain|toLower}}" rel="external"
                                            target="_blank">&nbsp;✳{{$domain.Domain}} {{$domain.Desc}}</a></li>
                                    {{end}}
                                </ul>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                <div id="footer-top">
                    <div id="footer">
                        <p id="footer-left">&copy; 2018<a class="yeguiren" href="/" target="_blank">
                                {{if .Chinese}}{{.Panel.Name}}{{else}}{{.Panel.NameEn}}{{end}}</a> All rights
                            reserved.
                            Powered by <a href="{{.Static}}">日落米表托管</a>.
                            {{if .Panel.Analysis}}
                            {{if eq .Panel.AnalysisType "g"}}
                            <script async src="https://www.googletagmanager.com/gtag/js?id={{.Panel.Analysis}}"></script>
                            <script>
                                window.dataLayer = window.dataLayer || [];
                                function gtag() { dataLayer.push(arguments); }
                                gtag('js', new Date());
                                gtag('config', '{{.Panel.Analysis}}');
                            </script>
                            {{else if eq .Panel.AnalysisType "c"}}
                            <script type="text/javascript">
                                var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                                document.write(unescape("%3Cspan id='cnzz_stat_icon_{{.Panel.Analysis}}'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D{{.Panel.Analysis}}%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
                            </script>
                            {{end}}
                            {{end}}
                        </p>
                        <p id="footer-right">
                            <div class="backtotop"><a class="scroll" href="#top">返回顶部</a></div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{{end}}