{{define "offical-superhero/footer"}}
<footer class="footer">
    <div class="content has-text-centered">
        <p>2018 &copy; <a href="https://{{.Panel.Domain}}">{{if .Chinese}}{{.Panel.Name}}{{else}}{{.Panel.NameEn}}{{end}}</a></p>
        <a href="https://www.runcuo.com" class="tags has-addons is-inline-flex">
            <span class="tag is-light">润措域名资产管理系统</span>
            <span class="tag is-dark">强力驱动</span>
        </a>
    </div>
</footer>
<script src='https://www.runcuo.com/static/offical-superhero/js/naiba.js'></script>
<script src='https://www.recaptcha.net/recaptcha/api.js'></script> {{if .Panel.Analysis}}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111315498-7"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{.Panel.Analysis}}');
</script> {{end}}
</body>

</html>
{{end}}