{{define "offical-superhero/header"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{if .Chinese}}{{.Panel.Name}} {{else}} {{.Panel.NameEn}} {{end}}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="https://www.runcuo.com/static/offical/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.runcuo.com/static/offical/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.runcuo.com/static/offical/icons/favicon-16x16.png">
    <link rel="manifest" href="https://www.runcuo.com/static/offical/icons/site.webmanifest">
    <link rel="mask-icon" href="https://www.runcuo.com/static/offical/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://www.runcuo.com/static/offical/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://www.runcuo.com/static/offical/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/superhero/bulmaswatch.min.css">
    <link rel="stylesheet" href="https://www.runcuo.com/static/offical-superhero/css/naiba.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>

<body>
{{end}}