{{define "offical-superhero/index"}} {{template "offical-superhero/header" .}}
<header class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{.Static}}/upload/logo/{{.Panel.ID}}-logo{{if not .Chinese}}_en{{end}}.png" alt="{{if .Chinese}}{{.Panel.Name}}{{else}}{{.Panel.NameEn}}{{end}}"
                    width="112" height="28">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                {{range $cat := .Panel.Cats}}
                <a href="#cat-{{$cat.ID}}" class="navbar-item">
                    {{if $.Chinese}}{{$cat.Name}}{{else}}{{$cat.NameEn}}{{end}}
                </a>
                {{end}}
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="bd-tw-button button" href="#contact">
                                <span class="icon">
                                    <i class="fas fa-headset"></i>
                                </span>
                                <span>
                                    {{if .Chinese}}联系我们{{else}}Contact{{end}}
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <section class="hero is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{if .Chinese}}一个好域名胜过一支营销团队{{else}}A good domain name is better than a marketing team.{{end}}
                </h1>
                <h2 class="subtitle">
                    {{if .Chinese}}{{.Panel.Desc}}{{else}}{{.Panel.DescEn}}{{end}}
                </h2>
            </div>
        </div>
    </section>

    {{range $cat := .Panel.Cats}}
    <div class="card domain-list equal-height-card main-card" id="cat-{{$cat.ID}}">
        <header class="card-header">
            <p class="card-header-title">
                {{if $.Chinese}}{{$cat.Name}}{{else}}{{$cat.NameEn}}{{end}}
            </p>
            <p class="card-header-icon">
                <span class="icon">
                    <i class="fas fa-globe"></i>
                </span>
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="columns is-multiline">
                    {{range $domain := $cat.Domains}}
                    <a href="//{{$.Panel.Domain}}/offer/{{$domain.Domain|toLower}}" class="column is-one-fifth">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title has-text-light">
                                    {{$domain.Domain}}
                                </p>
                                <p class="card-header-icon">
                                    <span class="tag is-black">{{if $.Chinese}}点我报价{{else}}Make Offer{{end}}</span>
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    {{$domain.Desc}}
                                </div>
                            </div>
                        </div>
                    </a>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    {{end}}
    <div id="contact" class="card main-card">
        <header class="card-header">
            <p class="card-header-title">
                {{if .Chinese}}联系我们{{else}}Contact{{end}}
            </p>
            <p class="card-header-icon">
                <i class="fas fa-headset"></i>
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <p>{{if .Chinese}}如果您遇到任何问题，欢迎直接联系我们。{{else}}Feel free to contact us.{{end}}</p>
                <p>
                    <span><i class="fas fa-phone"></i> {{.Panel.User.Phone}}</span>
                    <span><i class="fab fa-qq"></i>
                        {{.Panel.User.QQ}}</span>
                </p>
                <p>
                    <span><i class="fab fa-weixin"></i> {{.Panel.User.Weixin}}</span>
                    <span><i class="far fa-envelope"></i>
                        {{.Panel.User.Mail}}</span>
                </p>
            </div>
        </div>
    </div>
</div>
{{template "offical-superhero/footer" .}} {{end}}