{{define "offical-superhero/index.html"}}
{{template "offical-superhero/header.html" .}}
<header class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    分类1
                </a>
                <a class="navbar-item">
                    分类2
                </a>
                <a class="navbar-item">
                    分类3
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="bd-tw-button button" href="#contact">
                                <span class="icon">
                                    <i class="fas fa-headset"></i>
                                </span>
                                <span>
                                    联系我们
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <section class="hero is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    一个好域名胜过一支营销团队
                </h1>
                <h2 class="subtitle">
                    官人域名（guanren.com）是由资深域名投资人张大官人创建，前身是09年上线的知名域名平台泡名网（paoming.com），后因业务整合，于2013年9月1号将泡名网业务全部转移到官人域名（guanren.com）上。
                </h2>
            </div>
        </div>
    </section>

    <div class="card domain-list equal-height-card main-card">
        <header class="card-header">
            <p class="card-header-title">
                分类1
            </p>
            <p class="card-header-icon">
                <span class="icon">
                    <i class="fas fa-globe"></i>
                </span>
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="columns is-multiline ">
                    <a href="#" class="column is-one-fifth">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title has-text-light">
                                    QiongBi.net
                                </p>
                                <p class="card-header-icon">
                                    <span class="tag is-black">点我报价</span>
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    穷逼。
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="column is-one-fifth">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title has-text-light">
                                    QiongBi.net
                                </p>
                                <p class="card-header-icon">
                                    <span class="tag is-black">点我报价</span>
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    穷逼。
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="column is-one-fifth">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title has-text-light">
                                    QiongBi.net
                                </p>
                                <p class="card-header-icon">
                                    <span class="tag is-black">点我报价</span>
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    穷逼。
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="column is-one-fifth">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title has-text-light">
                                    QiongBi.net
                                </p>
                                <p class="card-header-icon">
                                    <span class="tag is-black">点我报价</span>
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    穷逼。
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="column is-one-fifth">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title has-text-light">
                                    QiongBi.net
                                </p>
                                <p class="card-header-icon">
                                    <span class="tag is-black">点我报价</span>
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    穷逼。
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="column is-one-fifth">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title has-text-light">
                                    QiongBi.net
                                </p>
                                <p class="card-header-icon">
                                    <span class="tag is-black">点我报价</span>
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    穷逼。
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="column is-one-fifth">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title has-text-light">
                                    QiongBi.net
                                </p>
                                <p class="card-header-icon">
                                    <span class="tag is-black">点我报价</span>
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    穷逼。
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="column is-one-fifth">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title has-text-light">
                                    QiongBi.net
                                </p>
                                <p class="card-header-icon">
                                    <span class="tag is-black">点我报价</span>
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    穷逼。
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="column is-one-fifth">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title has-text-light">
                                    QiongBi.net
                                </p>
                                <p class="card-header-icon">
                                    <span class="tag is-black">点我报价</span>
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    穷逼。
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="column is-one-fifth">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title has-text-light">
                                    QiongBi.net
                                </p>
                                <p class="card-header-icon">
                                    <span class="tag is-black">点我报价</span>
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    穷逼。
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="columns equal-height-card">
        <div class="column is-one-third">
            <div class="card main-card">
                <header class="card-header">
                    <p class="card-header-title">
                        联系我们
                    </p>
                    <p class="card-header-icon">
                        <i class="fas fa-headset"></i>
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <p>如果您遇到任何问题，欢迎直接联系我们。</p>
                        <p><i class="fas fa-phone"></i> 2088888812</p>
                        <p><i class="fab fa-qq"></i> 2088888812</p>
                        <p><i class="fab fa-weixin"></i> 2088888812</p>
                        <p><i class="far fa-envelope"></i> 1@5.nu</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card main-card">
                <header class="card-header">
                    <p class="card-header-title">
                        近期售出的域名
                    </p>
                    <p class="card-header-icon">
                        <i class="fas fa-award"></i>
                    </p>
                </header>
                <div class="card-content">
                    <div class="content domain-soldout">
                        <del>nb.ax</del>
                        <del>Lifelonglearning.cc</del>
                        <del>nb.ax</del>
                        <del>Lifelonglearning.cc</del>
                        <del>nb.ax</del>
                        <del>Lifelonglearning.cc</del>
                        <del>nb.ax</del>
                        <del>Lifelonglearning.cc</del>
                        <del>nb.ax</del>
                        <del>Lifelonglearning.cc</del>
                        <del>nb.ax</del>
                        <del>nb.ax</del>
                        <del>Lifelonglearning.cc</del>
                        <del>nb.ax</del>
                        <del>Lifelonglearning.cc</del>
                        <del>nb.ax</del>
                        <del>Lifelonglearning.cc</del>
                        <del>nb.ax</del>
                        <del>Lifelonglearning.cc</del>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "offical-superhero/footer.html" .}}
{{end}}