{{define "offical-superhero/offer"}} {{template "offical-superhero/header" .}}
<section class="hero is-medium">
    <div class="hero-body">
        <div class="level">
            <div style="min-width: 40%" class="level-item">
                <div class="card is-info">
                    <header class="card-header">
                        <p class="card-header-title has-text-light">
                            {{.Domain.Domain}} {{if .Chinese}}或许可以出售{{else}}may be for sale.{{end}}
                        </p>
                        <p class="card-header-icon">
                            <span class="icon">
                                <i class="fas fa-money-check-alt"></i>
                            </span>
                        </p>
                    </header>
                    <div class="card-content">
                        <form id="offer" onsubmit="return onSubmit();">
                            <div class="box">
                                <p>{{.Domain.Desc}}</p>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">{{if .Chinese}}来自{{else}}From{{end}}</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-left">
                                            <input name="Name" class="input" type="text" placeholder="{{if .Chinese}}姓名{{else}}Name{{end}}">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded has-icons-left has-icons-right">
                                            <input name="Mail" class="input is-success" type="email" placeholder="hi@example.com">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="field has-addons">
                                <div class="field-label is-normal">
                                    <label class="label">{{if .Chinese}}预算{{else}}Expected Price{{end}}</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <div class="control">
                                            <span class="select">
                                                <select name="Currency">
                                                    <option {{if .Chinese}} selected{{end}}>¥
                                                    </option>
                                                    <option {{if not .Chinese}} selected{{end}}>$
                                                    </option>
                                                    <option>€</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <input name="Amount" class="input" type="number" placeholder="{{if .Chinese}}您的预算{{else}}Expected Price{{end}}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">{{if .Chinese}}反机器人{{else}}Anti-robot{{end}}</label>
                                </div>
                                <div class="field-body">
                                    <div class="field g-recaptcha" data-sitekey="{{.ReCaptcha}}"></div>
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-label">
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <button class="button is-primary" type="submit">
                                                {{if .Chinese}}提交{{else}}Submit{{end}}
                                            </button>
                                            <a href="/" class="button">
                                                {{if .Chinese}}了解更多域名{{else}}More Domains{{end}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{template "offical-superhero/footer" .}} {{end}}