{{define "offical/footer.html"}}
<footer class="footer">
    <div class="content has-text-centered">
        <p>&copy; 2018 润措域名资产管理平台 <a href="https://www.mentuo.com" title="门拓科技" target="_black" class="tags has-addons is-inline-flex">
            <span class="tag is-primary">Made</span>
            <span class="tag is-dark">门拓科技</span>
        </a></p>
    </div>
</footer>
<script src="//unpkg.com/jquery"></script>
<script src='https://www.recaptcha.net/recaptcha/api.js'></script>
<script src="/static/offical/js/naiba.js"></script>

</body>

</html>
{{end}}